.window {
    background: var(--win-body);
    border: 2px solid;
    border-color: var(--win-border-light) var(--win-border-dark) var(--win-border-dark) var(--win-border-light);
    box-shadow: 2px 2px 0 var(--win-border-dark), 1px 1px 0 var(--btn-highlight);
    position: absolute;
    overflow: hidden;
    min-width: 220px;
    min-height: 120px;

}

.window-titlebar {

    background: linear-gradient(90deg, var(--win-title) 0%, var(--win-title-end) 100%);
    display: flex;
    align-items: center;
    cursor: move;
    user-select: none;
    padding: 3px 6px;
    gap: 6px;

}

.window-title {
    font-family: "Press Start 2P";
    font-size: 8px;
    color: #fff;
    flex: 1;
    letter-spacing: .5px;
    text-shadow: 1px 1px 0 #3a2a5a;
}

.window-controls {
    display: flex;
    gap: 2px;

}

.win-btn {
    width: 16px;
    height: 14px;
    background: var(--btn-face);
    border: 2px solid;
    border-color: var(--win-border-light) var(--win-border-dark) var(--win-border-dark) var(--win-border-light);
    font-family: 'VT323';
    font-size: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--text-dark)
}

.win-btn:active {
    border-color: var(--win-border-dark) var(--win-border-light) var(--win-border-light) var(--win-border-dark);

}

.window-content {
    padding: 8px;
}

.window-resize-handle {
    position: absolute;
    right: 2px;
    bottom: 2px;
    width: 16px;
    height: 16px;
    cursor: nwse-resize;
    background:
        linear-gradient(135deg, transparent 0 45%, var(--win-border-dark) 45% 55%, transparent 55% 100%),
        linear-gradient(135deg, transparent 0 65%, var(--btn-highlight) 65% 75%, transparent 75% 100%);
}